* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	background: #f0f0f0;
}

.loading {
	opacity: 0;
}

.js .loading {
	opacity: 1;
	transition: opacity 0.3s;
}
